<main>
    <div class="card-profile">
        <div class="flex items-center mb-4">
            <img class="w-24 h-24 rounded-full mr-4" src="https://via.placeholder.com/150" alt="Profile Picture">
            <div>
                <span class="text-2xl font-bold">Koffi Masta</span>
                <p class="text-gray-600">Profession</p>
            </div>
        </div>
        <hr class="mb-4">
        <div class="flex justify-start gap-4 mb-4">
            <button class="btn-whatsapp">
                WhatsApp <img src="media/images/whatsapp.png" alt="whatsapp">
            </button>
            <button class="btn-mail">
                Mail <img src="media/images/mail.png" alt="mail">
            </button>
        </div>
        <hr>
        <div class="mb-4">
            <h3 class="text-xl font-semibold mb-2">À propos de moi</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo nec sem fermentum, a tincidunt nisi facilisis.</p>
        </div>
        <div class="mb-4">
            <h3 class="text-xl font-semibold mb-2">Compétences</h3>
            <ul class="flex text-gray-700">
                <div class="work-mode">
                    <span>Remote</span>
                    <span>Full Time</span>
                    <span>Design</span>
                </div>
            </ul>
        </div>

    </div>
</main>



