<app-navbar></app-navbar>
<main>
    <section class=" search-section1">
        <h3>Services</h3>
        <img src="media/images/menu-dash.png" alt="">
    </section>
    <section class="flex">
        <aside class="aside-filter">
            <p>Filtrer</p>
        </aside>
        <div class="card-container">
            <div class="card-profile">
                <div class="card-top">
                    <div class="flex justify-between items-center">
                        <div class="stars-container">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                        </div>
                        <div class="saved"><mat-icon>bookmark</mat-icon></div>
                    </div>
                    <div class="flex justify-between items-center">
                        <h4 class="text-titre">Senior UI/UX Designer </h4>
                        <mat-icon>monitor</mat-icon>
                    </div>
                    <div class="work-mode">
                        <span>Remote</span>
                        <span>Full Time</span>
                        <span>Design</span>
                    </div>
                </div>
                <div class="card-bottom">
                    <div>
                        <p class="price">85K</p>
                        <p class="location">Cocody</p>
                    </div>
                    <a routerLink="/profile" class="btn-link">Consulter</a>
                </div>
            </div>
            <div class="card-profile">
                <div class="card-top c2">
                    <div class="flex justify-between items-center">
                        <div class="stars-container">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                        </div>
                        <div class="saved"><mat-icon>bookmark</mat-icon></div>
                    </div>
                    <div class="flex justify-between items-center">
                        <h4 class="text-titre">Senior UI/UX Designer </h4>
                        <mat-icon>monitor</mat-icon>
                    </div>
                    <div class="work-mode">
                        <span>Remote</span>
                        <span>Full Time</span>
                        <span>Design</span>
                    </div>
                </div>
                <div class="card-bottom">
                    <div>
                        <p class="price">85K</p>
                        <p class="location">Cocody</p>
                    </div>
                    <a routerLink="/profile" class="btn-link">Consulter</a>
                </div>
            </div>
            <div class="card-profile">
                <div class="card-top c3">
                    <div class="flex justify-between items-center">
                        <div class="stars-container">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                        </div>
                        <div class="saved"><mat-icon>bookmark</mat-icon></div>
                    </div>
                    <div class="flex justify-between items-center">
                        <h4 class="text-titre">Senior UI/UX Designer </h4>
                        <mat-icon>monitor</mat-icon>
                    </div>
                    <div class="work-mode">
                        <span>Remote</span>
                        <span>Full Time</span>
                        <span>Design</span>
                    </div>
                </div>
                <div class="card-bottom">
                    <div>
                        <p class="price">85K</p>
                        <p class="location">Cocody</p>
                    </div>
                    <a routerLink="/profile" class="btn-link">Consulter</a>
                </div>
            </div>
        </div>
    </section>
</main>