<app-navbar></app-navbar>
<main>
    <section>
        <h3>Services</h3>
    </section>
    <section>
        <aside></aside>
        <div class="card-conatiner">
            <div class="card-profile">
                <div class="card-top">
                    <div class="flex justify-between">
                        <div class="stars-container">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-fill.png" alt="">
                            <img class="star"  loading="lazy" src="media/images/star-empty.png" alt="">
                        </div>
                        <div></div>
                    </div>
                </div>
                <div class="card-top"></div>
            </div>
            <div class="card-profile"></div>
            <div class="card-profile"></div>
        </div>
    </section>
</main>