.search-section1{

    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #00000018;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-section1 h3{
    font-weight: 600;
    background: #000000;
background: linear-gradient(to right, #000000 0%, #14C0B7 69%);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-section1 img{
    display: none;
    height: 30px;
    width: auto;
    cursor: pointer;
}

aside{
    width: 20%;
    border-right: 1px solid #00000018;
}
.card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 15px;
    padding: 1rem;
}

.card-profile{
    width: 100%;
    max-height: 215px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.2rem;
}
.card-top{
    border-radius: 15px;
    background: rgb(235,249,248);
    background: linear-gradient(135deg, rgba(235,249,248,1) 0%, rgba(209,235,233,1) 100%);    
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.card-top.c2{
    background: rgb(248,242,252);
    background: linear-gradient(135deg, rgba(248,242,252,1) 0%, rgba(255,247,242,1) 100%);
}
.card-top.c3{
    background: rgb(241,250,253);
    background: linear-gradient(135deg, rgba(241,250,253,1) 0%, rgba(249,250,233,1) 100%);
}
.stars-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    padding: 0.2rem 0.5rem;
}
.text-titre{
    font-size: 1.3rem;
    font-weight: 600;
}
img.star{
    height: 15px;
    width: auto;
}
.saved{
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}
.work-mode{
    display: flex;
    justify-content: start;
    align-items: center;
}
.work-mode span{
    margin-right: 0.5rem;
    padding: 0.1rem 0.6rem;
    border-radius: 15px;
    border: 1px solid #000;
    font-size: 0.8rem;

}
.card-bottom{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.location{
    color: #808080;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}
.card-bottom p{
    font-size: 1.2rem;
    font-weight: 600;
}
.card-profile-detail{
    border-radius: 15px;
    background-color: #000;
    padding: 0.5rem;
}
.card-bottom .btn-link{
    font-size: 1rem;
}


.input-style{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 0.2rem 0.5rem;
}
#range1 {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
  }
  
  #range1::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  #range1::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  #range1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #14C0B7;
    box-shadow: -407px 0 0 400px #14C0B7;
  }
  
  #range1::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #14C0B7;
    box-shadow: -407px 0 0 400px #14C0B7;
  }
  .modal-content{
    padding: 1rem;
    min-width: 300px;
    background-color: #fff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group input{
    border-radius: 15px;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
label{
    font-weight: 600;
}
select{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 0.2rem 0.5rem;
}
.close-menu span{
    background-color: red;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #00000011;
}
.error-message{
    color: red;
    font-size: 0.8rem;
    font-weight: 600;
}

